<form [formGroup]="flowersForm" (ngSubmit)="submit()">
  <div class="row mb-3">
    <mat-form-field class="col-12 col-md-6 col-lg-4">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Ingresa el nombre de la flor"
      />

      @if (flowersForm.get('name')?.hasError('required')) {
      <mat-error>El nombre es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-12 col-md-6 col-lg-4">
      <mat-label>Color</mat-label>
      <input
        type="text"
        matInput
        formControlName="color"
        placeholder="Ingresa el color de la flor"
      />

      @if (flowersForm.get('color')?.hasError('required')) {
      <mat-error>El color es <strong>requerido</strong></mat-error>
      }
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <mat-form-field class="col-12 col-md-6 col-lg-4">
      <mat-label>Imagen</mat-label>
      <input
        type="text"
        matInput
        formControlName="imageUrl"
        placeholder="Ingresa la URL de la imagen de la flor"
      />

      @if (flowersForm.get('imageUrl')?.hasError('required')) {
      <mat-error>La imagen es <strong>requerida</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-12 col-md-6 col-lg-4">
      <mat-label>Precio</mat-label>
      <input
        type="number"
        matInput
        formControlName="price"
        placeholder="Ingresa el precio de la flor"
      />

      @if (flowersForm.get('price')?.hasError('required')) {
      <mat-error>El precio es <strong>requerido</strong></mat-error>
      } @if (flowersForm.get('price')?.hasError('min')) {
      <mat-error>El precio debe ser <strong>mayor</strong> a cero </mat-error>
      }
    </mat-form-field>
  </div>

  <button
    type="submit"
    mat-flat-button
    color="primary"
    [disabled]="flowersForm.invalid"
  >
    {{ isEdit ? "Actualizar" : "Registrar" }}
  </button>
</form>
