/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.snack-success {
  background-color: green !important; /* Change background color to green */
  color: white; /* Text color */
}

.snack-warning {
  background-color: red !important; /* Change background color to red */
  color: white; /* Text color */
}
